{% extends 'base.html.twig' %}

{% set section = 'product/edit' %}

{% block stylesheets %}
    .checkbox{
        display: inline-block !important;
        margin-right: 25px;
    }
{% endblock %}

{% block body %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="alert alert-success" role="alert">
            <strong>Well done!</strong> {{ flash_message }}.
        </div>
    {% endfor %}
    <div class="well">
        Update the product following these instruction:
        <ol>
            <li>update the name field (if it's required)</li>
            <li>upload a new image with a png or jpg extension (if it's required)</li>
            <li>update the description field (if it's required)</li>
            <li>select new tags and deselect tags not anymore required (the product must have at least 1 tag)</li>
        </ol>
    </div>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.image) }}
    {{ form_row(form.description) }}
    {{ form_row(form.tag) }}
    <div class="form-group">
        {{ form_widget(form.save, { 'attr': {'class': 'btn-success'} }) }}
        <a href="/tag/create?back=product_edit&id={{ product.id }}" class="btn btn-info">New Tag</a>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>
{% endblock %}